<!DOCTYPE html>
<html lang="en">
<% include ../common/head.html %>

<body>
    <div class="loading-warp" style="border: none;">
        <div class="loading-content">
            <div class="loading-column">
                <div class="loading-container animation-3">
                    <div class="shape shape1"></div>
                    <div class="shape shape2"></div>
                    <div class="shape shape3"></div>
                    <div class="shape shape4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <% include ../common/nav.html %>
        <main class="clearfix">
            <ul id="allWords">
                <% words.forEach(function (word, index) { %>
                <li class="word-item" id="word<%-index+1%>">
                    <div class="one-word">
                        <span class="serial-number">
                            <%-index+1%></span>
                        <span class="english">
                            <%-word.english%></span>
                        <span class="chinese">
                            <%-word.chinese%></span>
                        <span class="sentence">
                            <span class="sentence-english">
                                <%-word.sentence.english%></span>
                            <span class="sentence-chinese">
                                <%-word.sentence.chinese%></span>
                        </span>
                    </div>
                </li>
                <% }) %>
            </ul>
        </main>
        <div class="tools-bar">
            <ul>
                <li class="input"><input type="text" placeholder="筛选关键字如:book" v-model="keyword" @keyup="search()"></li>
                <li class="item" v-for="(item, key) in filterItems" @click="seleteItem(item, key)"><i class="fa fa-check"
                        v-show="item.isShow"></i><span class="item-name">{{item.name}}</span></li>
            </ul>
        </div>
        <% include ../common/footer.html %>
    </div>
</body>

</html>